@page "/"

<PageTitle>Colours</PageTitle>


<div class="grid-auto-content grid-auto-content--min-650px gaps-4">

        <ColourSwatch SassColourName="@GlobalValues.Primary_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Primary_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Primary_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Primary_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Primary_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Primary_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Primary_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Primary_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Accent_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Accent_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Accent_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Accent_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Accent_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Accent_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Accent_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Accent_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />


        <ColourSwatch SassColourName="@GlobalValues.Neutral_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Neutral_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Neutral_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Neutral_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Neutral_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Neutral_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Neutral_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Neutral_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Danger_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Danger_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Danger_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Danger_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Danger_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Danger_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Danger_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Danger_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />


        <ColourSwatch SassColourName="@GlobalValues.Warning_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Warning_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Warning_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Warning_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Warning_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Warning_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Warning_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Warning_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Success_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Success_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Success_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Success_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Success_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Success_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Success_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Success_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Info_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                      TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                      TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                      CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                      ShadeClassDarkerName="@GlobalValues.Info_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Info_Shade_Class_Lighter_Name"
                      TransparencyClassName="@GlobalValues.Info_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Info_Canvas_Dark_Var_Name"
                      CanvasLightVarName="@GlobalValues.Info_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Info_Text_Dark_Var_Name"
                      TextLightVarName="@GlobalValues.Info_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <div>
            <p class="m-block-4">Focus rings need a minimum contrast ratio of 3.1 for accessibility</p>

            <ul class="flex-content flex-content--columns gaps-6">
                <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-light"></b></li>
                <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-dark"></b></li>
                <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-primary"></b></li>
            </ul>
        </div>


    </div>
