@inject NavigationManager _navigationManager
@page "/styles"

<PageTitle>Styles</PageTitle>


<div class="content-container">

    <div class="grid-auto-content grid-auto-content--min-650px gaps-4">

        <ColourSwatch SassColourName="@GlobalValues.Primary_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Primary_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Primary_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Primary_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Primary_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Primary_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Primary_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Primary_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Accent_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Accent_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Accent_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Accent_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Accent_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Accent_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Accent_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Accent_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />


        <ColourSwatch SassColourName="@GlobalValues.Neutral_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Neutral_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Neutral_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Neutral_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Neutral_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Neutral_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Neutral_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Neutral_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Danger_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Danger_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Danger_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Danger_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Danger_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Danger_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Danger_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Danger_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />


        <ColourSwatch SassColourName="@GlobalValues.Warning_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Warning_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Warning_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Warning_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Warning_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Warning_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Warning_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Warning_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Success_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Success_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Success_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Success_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Success_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Success_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Success_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Success_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <ColourSwatch SassColourName="@GlobalValues.Info_Colour_Name" ShadePercentIncrements="@GlobalValues.Shade_Percent_Increments_10"
                        TransPrecentIncrements="@GlobalValues.Trans_Precent_Increments_5" TextDarkMixPercent="GlobalValues.Text_Dark_Mix_Percent_80"
                        TextLightMixPercent="GlobalValues.Text_Light_Mix_Percent_90" CanvasLightMixPercent="@GlobalValues.Canvas_Light_Mix_Percent_95"
                        CanvasDarkMixPercent="@GlobalValues.Canvas_Dark_Mix_Percent_85"
                        ShadeClassDarkerName="@GlobalValues.Info_Shade_Class_Darker_Name" ShadeClassLighterName="@GlobalValues.Info_Shade_Class_Lighter_Name"
                        TransparencyClassName="@GlobalValues.Info_Trans_Class_Name" CanvasDarkVarName="@GlobalValues.Info_Canvas_Dark_Var_Name"
                        CanvasLightVarName="@GlobalValues.Info_Canvas_Light_Var_Name" TextDarkVarName="@GlobalValues.Info_Text_Dark_Var_Name"
                        TextLightVarName="@GlobalValues.Info_Text_Light_Var_Name" BackgroundName="@GlobalValues.Background_Prefix" />

        <div>
            <p class="m-block-4">Focus rings need a minimum contrast ratio of 3.1 for accessibility</p>

            <ul class="flex-content flex-content--columns gaps-6">
                <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-light"></b></li>
                <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-dark"></b></li>
                <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-primary"></b></li>
            </ul>
        </div>


    </div>
</div>

@*  
<div class="flex-content gaps-4 pad-inline-4" style="background-color:white; height:100%;">

        <ul class="flex-content flex-content--columns gaps-4 m-top-4">
            <li class="flex-content gaps-2"><span class="trash-icon danger-color" style="width:1.5rem; height:1.5rem;"></span> <span>Delete using danger colour</span></li>
            <li class="flex-content gaps-2"><span class="cancel-icon warning-color" style="width:1.5rem; height:1.5rem;"></span> Cancel using warning colour</li>
            <li class="flex-content gaps-2"><span class="floppy-icon success-color" style="width:1.5rem; height:1.5rem;"></span> Save using success colour</li>
            <li class="flex-content gaps-2"><span class="info-icon info-color" style="width:1.5rem; height:1.5rem;"></span> Information using info colour</li>
        </ul>

        <p class="m-block-4">Focus rings need a minimum contrast ratio of 3.1 for accessibility</p>

        <ul class="flex-content flex-content--columns gaps-6">
            <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--primary-clr);">Primary colour</span><b class="primary-colour-contrast-on-light"></b></li>
            <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--primary-clr);">Primary colour</span><b class="primary-colour-contrast-on-dark"></b></li>
            <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class ="accent-colour-contrast-on-light"></b></li>
            <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-dark"></b></li>
            <li class="flex-content gaps-4"><span style="width:8rem; padding-left:0.25rem; border-radius:0.25rem; outline-offset:3px; outline:3px solid var(--accent-clr);">Accent colour</span><b class="accent-colour-contrast-on-primary"></b></li>
        </ul>

        <p class="m-block-4">Auto text colour, black or white based on contrast for the state/contextual colours</p>
         <ul class="flex-content flex-content--columns gaps-6">
            <li class="flex-content align-items-center justify-content-center radius-all-1 danger-bg" style="color:var(--text-danger-contrast); height:3rem;width:20rem;">Danger text contrast colour</li>
            <li class="flex-content align-items-center justify-content-center radius-all-1 warning-bg" style="color:var(--text-warning-contrast); height:3rem;width:20rem;">Waring text contrast colour</li>
            <li class="flex-content align-items-center justify-content-center radius-all-1 success-bg" style="color:var(--text-warning-contrast); height:3rem;width:20rem;">Success text contrast colour</li>
            <li class="flex-content align-items-center justify-content-center radius-all-1 info-bg" style="color:var(--text-warning-contrast); height:3rem;width:20rem;">Info text contrast colour</li>
         </ul>


    </div>

    <div>
        <ul class="flex-content flex-content--columns gaps-3 m-top-4">
            <li style="font-size:var(--fs-1); font-weight:var(--fw-100);">The five boxing wizards weight (--fw-100)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-200);">The five boxing wizards weight (--fw-200)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-300);">The five boxing wizards weight (--fw-300)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-400);">The five boxing wizards weight (--fw-400 - regular weight)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-500);">The five boxing wizards weight (--fw-500)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-600);">The five boxing wizards weight (--fw-600)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-700);">The five boxing wizards weight (--fw-700)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-800);">The five boxing wizards weight (--fw-800)</li>
            <li style="font-size:var(--fs-1); font-weight:var(--fw-900);">The five boxing wizards weight (--fw-900)</li>
        </ul>

        <p class="m-block-4">Font sizes using the major third scale factor --fs-1 is the default size</p>

        <ul class="flex-content flex-content--columns gaps-4">
            <li style="font-size:var(--fs-sm-3);">The five boxing wizards jumped quickly (--fs-sm-3)</li>
            <li style="font-size:var(--fs-sm-2);">The five boxing wizards jumped quickly (--fs-sm-2)</li>
            <li style="font-size:var(--fs-sm-1);">The five boxing wizards jumped quickly (--fs-sm-1)</li>
            <li style="font-size:var(--fs-1);">The five boxing wizards jumped quickly (--fs-1)</li>
            <li style="font-size:var(--fs-2);">The five boxing wizards jumped quickly (--fs-2)</li>
            <li style="font-size:var(--fs-3);">The five boxing wizards jumped quickly (--fs-3)</li>
            <li style="font-size:var(--fs-4);">The five boxing wizards jumped quickly (--fs-4)</li>
            <li style="font-size:var(--fs-5);">The five boxing wizards jumped quickly (--fs-5)</li>
            <li style="font-size:var(--fs-6);">The five boxing wizards jumped quickly (--fs-6)</li>
        </ul>

        <ul class="flex-content align-items-center flex-content--wrap gaps-2 m-top-2">
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-large"></span>class icon-size-large (2rem)</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-standard"></span>class icon-size-standard (1.5rem)</li>
        </ul>

        <ul class="flex-content align-items-center flex-content--wrap gaps-2 m-top-2">
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-6"></span>class icon-size-fs-6</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-5"></span>class icon-size-fs-5</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-4"></span>class icon-size-fs-4</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-3"></span>class icon-size-fs-3</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-2"></span>class icon-size-fs-2</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-1"></span>class icon-size-fs-1</li>
            <li class="flex-content align-items-center gaps-2"><span class="info-icon icon-size-fs-sm-1"></span>class icon-size-fs-sm-1</li>

        </ul>
        <div>
            <a href="/home">Home</a>
        </div>
    </div>


</div>
*@