@page "/typography"
<PageTitle>Typography</PageTitle>

<div class="flex-content flex-content--wrap gaps-4">

    <FontSize SmallFontSzeCount="@GlobalValues.Small_Font_Size_Count" FontSizeCount="@GlobalValues.Font_Size_Count" FontSizePrefix="@GlobalValues.Font_Size_Prefix" 
              SmallPrefix="@GlobalValues.Small_Prefix" FontSizeText="@GlobalValues.Font_Size_Text" FontLabelClass="@GlobalValues.Font_Label_Class" FontScaleFactor="@GlobalValues.Font_Scale_Factor" />

    <FontWeight FontWeightPrefix="@GlobalValues.Font_Weight_Prefix" FontWeightFactor="@GlobalValues.Font_Weight_Factor" FontWeightCount="@GlobalValues.Font_Weight_Count" 
                FontLabelClass="@GlobalValues.Font_Label_Class" FontWeightText="@GlobalValues.Font_Size_Text" FontSizeClass="fs-4" />

</div>

@code {

}
